<!DOCTYPE html>
<head>
	<title>GIFME</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="../css/templatemo_style.css" rel="stylesheet" type="text/css">	
	<link href='../images/1.ico' rel='icon' type='image/x-icon'/>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <!-- <script type="text/javascript" src="home.js"></script> -->
</head>

<body class="templatemo-bg-yellow">
	<h1 class="margin-bottom-15">Comment</h1>
	<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-create-account templatemo-container" role="form" action="#" method="post">
				<div class="form-inner">
					<div class="form-group">
			          <div class="col-md-6">		          	
			           <article>
						<div class="heading">
							<h2>The best preparation for tomorrow is doing your best today.</h2>
						</div>
						<div class="content">
							<img src="../images/1.gif" width="200px" height="200px"/>
						</div>
						<div class="info">
							<p>By Vicky on March 25, 2016 - <a href="#">5 Commnets</a></p>
						</div>
					</article>
					<section>
						<h2>Leave a Comment</h2>
						<form id="contact-form" method="post">
						    <fieldset>
						        <label><input name="email" value="Email" onBlur="if(this.value=='') this.value='Email'" onFocus="if(this.value =='Email' ) this.value=''" /></label>
						        <label><input name="subject" value="Subject" onBlur="if(this.value=='') this.value='Subject'" onFocus="if(this.value =='Subject' ) this.value=''" /></label>
						        <textarea onBlur="if(this.value=='') this.value='Message'" onFocus="if(this.value =='Message' ) this.value=''">Message</textarea>
						        <div class="buttons">
						          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="#" onClick="document.getElementById('contact-form').reset()">Clear</a>
						            &nbsp; &nbsp; <a href="#" onClick="document.getElementById('contact-form').submit()">Send</a>
						        </div>											
						    </fieldset>           
						</form>
					</section>
			        </div>	    
				</div>				    	
		      </form>		      
		</div>
		<footer>
		<div class="copyright">
		<br>
		<center><p>Copyright © 2016 - GIFME </p></center>
	</div>
</footer>
	</div>
</body>
</html>