<!DOCTYPE html>
<head>
	<title>GIFME</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="css/templatemo_style.css" rel="stylesheet" type="text/css">	
	<link href='./images/1.ico' rel='icon' type='image/x-icon'/>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="post.js"></script>
</head>

<body class="templatemo-bg-yellow">
	<h1 class="margin-bottom-15">Post</h1>
	<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-create-account templatemo-container" role="form" action="#" method="post">
				<div class="form-inner">
					<div class="form-group">
			          <div class="col-md-6">
			          <div class="buttons">
						           &nbsp; <a href="#" onClick="document.getElementById('contact-form').reset()">Clear</a>
						            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="#" onClick="document.getElementById('contact-form').submit()">Send</a>
						        </div>			          	
			           <textarea cols=42 rows=5 name="text" onBlur="if(this.value=='') this.value='Say something...'" onFocus="if(this.value =='Say something...' ) this.value=''">Say something...</textarea> 
			           <img src="./images/2.jpg" border="10"  name="add GIF" width=150 height=100/>  
			           <HR size="1000">  
                         <div class="control-wrapper">
		          		<input type="submit" value="uploadGIF" class="btn btn-info">&nbsp;&nbsp; &nbsp; <img src="./images/3.jpg" border="10"  name="add GIF" width=20 height=20/> 
		          		</div>    
						</form>
					</section>
			        </div>	    
				</div>				    	
		      </form>		      
		</div>
	</div>
	<footer>
		<div class="copyright">
		<br>
		<center><p>Copyright © 2016 - GIFME </p></center>
	</div>
</footer>
</body>
</html>